/* @import '~vuetify/src/styles/styles.sass'; */

@font-face {
  font-family: 'Inter';
  src: url(./js/fonts/Inter/Inter-Regular.ttf) format('truetype');
}

html {
  letter-spacing: 0 !important;

  @media (min-width: 800px) {
    font-size: 20px;
  }
}

html {
  @media (min-width: 800px) {
    font-size: 18px;
    font-family: 'Inter';
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.logo-container img {
  width: 100%; /* Makes the image take up the full width of its parent */
  height: auto; /* Keeps the aspect ratio of the image */
}
.centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensures full height for vertical centering */
}
.logo-container img {
  max-width: 100%;
}
.full-container {
  width: 100%;
  height: 100%; 

  display: flex;
  flex-direction: column;
}
.fullcont{
    border: 1px solid #ccc; /* Border around the container */

}
.v-application .ma-0 {
    margin: 10px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

}

.create-btn {
  background-color: #4080DF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.new{
   background-color: #4080DF !important;
  color: white !important;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.new:hover{
   background-color: #4080DF !important;
}
.create-btn:hover {
  background-color: #4080DF;
}
.bottom-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.v-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff !important;
}
.v-btn {
  display: block;
  width: 100%; /* Ensure buttons span full width */
}
.shadow-none{
  box-shadow: none !important;
}
/* Ensure transition is for width and padding */
.v-navigation-drawer {
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.container-fluid-max {
  max-width: 100%;
}

.f32 {
  font-size: 32px !important;
}
.f26 {
  font-size: 26px !important;
}

.f24 {
  font-size: 24px !important;
}

.f22 {
  font-size: 22px !important;
}

.f20 {
  font-size: 20px !important;
}

.f18 {
  font-size: 18px !important;
}

.f16 {
  font-size: 16px !important;
}

.f14 {
  font-size: 14px !important;
}

.f12 {
  font-size: 12px !important;
}

.f10 {
  font-size: 10px !important;
}

.w700 {
  font-weight: 700 !important;
}

.w600 {
  font-weight: 600 !important;
}

.w500 {
  font-weight: 500 !important;
}

.w400 {
  font-weight: 400 !important;
}

body {
  font-family: 'Inter';
  color: #333333;
  letter-spacing: 0 !important;
}

/* font-family */
code,
kbd,
pre,
samp,
.v-application {
  font-family: 'Inter';
}

.v-application .display-3,
.v-application .display-4,
.v-application .display-1,
.v-application .display-2,
.v-application .headline,
.v-application .title,
.v-application .subtitle-2,
.v-application .body-2,
.v-application .subtitle-1,
.v-application .body-1,
.v-application .caption,
.v-application .overline,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-h6,
.v-application .text-subtitle-1,
.v-application .text-subtitle-2,
.v-application .text-body-1,
.v-application .text-body-2,
.v-application .text-button,
.v-application .text-caption,
.v-application .text-overline,
.v-application .text-sm-h1,
.v-application .text-sm-h2,
.v-application .text-sm-h3,
.v-application .text-sm-h4,
.v-application .text-sm-h5,
.v-application .text-sm-h6,
.v-application .text-sm-subtitle-1,
.v-application .text-sm-subtitle-2,
.v-application .text-sm-body-1,
.v-application .text-sm-body-2,
.v-application .text-sm-button,
.v-application .text-sm-caption,
.v-application .text-sm-overline,
.v-application .text-md-h1,
.v-application .text-md-h2,
.v-application .text-md-h3,
.v-application .text-md-h4,
.v-application .text-md-h5,
.v-application .text-md-h6,
.v-application .text-md-subtitle-1,
.v-application .text-md-subtitle-2,
.v-application .text-md-body-1,
.v-application .text-md-body-2,
.v-application .text-md-button,
.v-application .text-md-caption,
.v-application .text-md-overline,
.v-application .text-lg-h1,
.v-application .text-lg-h2,
.v-application .text-lg-h3,
.v-application .text-lg-h4,
.v-application .text-lg-h5,
.v-application .text-lg-h6,
.v-application .text-lg-subtitle-1,
.v-application .text-lg-subtitle-2,
.v-application .text-lg-body-1,
.v-application .text-lg-body-2,
.v-application .text-lg-button,
.v-application .text-lg-caption,
.v-application .text-lg-overline,
.v-application .text-xl-h1,
.v-application .text-xl-h2,
.v-application .text-xl-h3,
.v-application .text-xl-h4,
.v-application .text-xl-h5,
.v-application .text-xl-h6,
.v-application .text-xl-subtitle-1,
.v-application .text-xl-subtitle-2,
.v-application .text-xl-body-1,
.v-application .text-xl-body-2,
.v-application .text-xl-button,
.v-application .text-xl-caption,
.v-application .text-xl-overline {
  font-family: 'Inter' !important;
}

/* Remove Material Letter Spacing on buttons */
.v-btn {
  letter-spacing: 0px !important;
}

/* primary text color */
.v-application .theme--light.heading,
.theme--light.v-application,
.theme--light.v-application .text--primary,
.theme--light.v-sheet,
.theme--light.v-image,
.theme--light.v-btn,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before,
.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input,
.theme--light.v-select .v-select__selections,
.theme--dark.v-select.v-text-field--solo-inverted.v-input--is-focused .v-select__selections,
.theme--light.v-input,
.theme--light.v-input input,
.theme--light.v-input textarea,
.theme--light.v-progress-linear,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
.theme--light.v-list,
.theme--light.v-chip,
.theme--light.v-bottom-navigation,
.theme--light.v-overlay,
.theme--light.v-btn-toggle:not(.v-btn-toggle--group),
.theme--light.v-card,
.theme--light.v-color-picker .v-color-picker__input input,
.theme--light.v-data-table .v-data-table-header th.sortable.active,
.theme--light.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon,
.theme--light.v-data-table .v-data-table-header th.sortable:hover,
.theme--light.v-data-table .v-data-table-header__sort-badge,
.theme--light.v-data-table,
.theme--light.v-date-picker-header
  .v-date-picker-header__value:not(.v-date-picker-header__value--disabled)
  button:not(:hover):not(:focus),
.theme--light.v-expansion-panels .v-expansion-panel,
.theme--light.v-file-input .v-file-input__text,
.theme--light.v-footer,
.theme--light.v-pagination .v-pagination__item,
.theme--light.v-snack__wrapper,
.theme--light.v-stepper .v-stepper__step--complete .v-stepper__label,
.theme--light.v-treeview {
  color: #333333;
}

.theme--light.v-application .text--primary,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #333333 !important;
}

/* secondary text color */
.theme--light.v-application .text--secondary,
.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot .v-label,
.theme--light.v-label,
.theme--light.v-messages,
.theme--light.v-counter,
.theme--light.v-list-item:not(.v-list-item--disabled) .v-list-item__action-text,
.theme--light.v-list-item:not(.v-list-item--disabled) .v-list-item__subtitle,
.theme--light.v-subheader,
.theme--light.v-bottom-navigation .v-btn:not(.v-btn--active),
.theme--light.v-card > .v-card__subtitle,
.theme--light.v-card > .v-card__text,
.theme--light.v-color-picker span,
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.theme--light.v-file-input .v-file-input__text--placeholder,
.theme--light.v-stepper--non-linear
  .v-stepper__step:not(.v-stepper__step--complete):not(.v-stepper__step--error)
  .v-stepper__label,
.theme--light.v-stepper .v-stepper__label small,
.theme--light.v-system-bar,
.theme--light.v-system-bar .v-icon {
  color: #333333;
}

.theme--light.v-application .text--secondary,
.theme--light.v-bottom-navigation .v-btn:not(.v-btn--active) {
  color: #333333 !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding-left: 5px;
  padding-right: 5px;
}

.hollowBtnStyle {
  border-radius: 15px;
  border: 1px solid #4080df;
  color: #4080df;
  height: 40px;
}

.btnWithRadius {
  border-radius: 15px;
  height: 40px;
}

@media (min-width: 200px) {
  .titleResponsive {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .titleResponsive {
    font-size: 26px;
  }
}

@media (min-width: 2000px) {
  .titleResponsive {
    font-size: 39px;
  }
}

.v-pagination__item {
  border-radius: 12px;
  color: white !important;
}

.v-pagination__item:not(.v-pagination__item--active) {
  background: #f7fbfd !important;
  color: var(--v-primaryBlue-base) !important;
}

.select-div > div > div > div.v-input__slot > div.v-select__slot > div.v-input__append-inner > div > i {
  color: var(--v-coreWhite) !important;
}

/* Finally we can have custom height for Veutify Text Field */
.thin-text-field .v-input__control .v-input__slot {
  align-items: center !important;
}

.thin-text-field .v-input__control .v-input__slot > .v-input__append-inner {
  align-self: center;
}
.thin-text-field .v-input__control .v-input__slot > .v-input__prepend-inner {
  align-self: center !important;
  padding-top: 0;
  margin-top: 0 !important;
}

.border-text-field-grey .v-input__control .v-input__slot {
  border: 1px solid var(--v-lightGray3) !important;
}

.rounded-15 {
  border-radius: 15px !important;
}

.rounded-7 {
  border-radius: 7px !important;
}

.thin-grey-border {
  border: 1px solid var(--v-lightGray3) !important;
}

.border-thin-orange {
  border: 1px solid var(--v-coreOrange) !important;
}

button {
  letter-spacing: 0 !important;
}

.v-btn {
  letter-spacing: 0 !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Table Predefined Styles */
.table-style-1 > .v-data-table__wrapper > table {
  border-collapse: separate;
  border-spacing: 0 3px;
}

.table-style-1 > .v-data-table__wrapper > table > tbody > tr > td {
  background-color: var(--v-lightGray);
}
.table-style-1 > .v-data-table__wrapper > table > thead > tr > th {
  color: var(--v-lighGray4) !important;
}

.table-style-1 > .v-data-table__wrapper > table > tbody > tr > td:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.table-style-1 > .v-data-table__wrapper > table > tbody > tr > td:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

a[title='Powered by marker.js'] {
  display: none !important;
}
.__markerjs2__0_toolbar_button {
  height: 25px !important;
  width: 25px !important;
}

.__markerjs2__0_toolbar_button svg {
  height: 25px !important;
}

.image-editor-button {
  background-color: var(--v-coreWhite);
  color: var(--v-coreGreen);
}
.image-editor-button:hover {
  background-color: var(--v-coreGreen);
  color: var(--v-coreWhite);
}
.image-editor-button-active {
  background-color: var(--v-coreGreen);
  color: var(--v-coreWhite);
}

.image-editor-toolbar {
  border: 1px solid var(--v-lightGray3);
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.ck-powered-by-balloon {
  display: none !important;
}


.v-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Adds the border around the entire UI */
  border-radius: 8px; /* Optional: for rounded corners */
  background-color: #f9f9f9; /* Optional: for background color */
}

.v-text-field .v-input__control {
  display: flex;
  align-items: center;
}

.v-btn {
  margin-left: 5px;
}

.theme--light.v-text-field>.v-input__control>.v-input__slot:before {
   
    border: none !important;


}
    .v-application--is-ltr .v-input__prepend-outer, .v-application--is-rtl .v-input__append-outer {
    margin-right: 0px !important;
    width: 135px;
}
.v-text-field {
    padding-top: 0px !important;
   
}

.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
    border-bottom: none !important;
}
.border-right{
  border-right: 1px solid #c4c4c4;
  
}



.v-row {
  margin: 0;
}

.v-col {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.main-border {
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #ffffff !important;
}

.small-font {
  font-size: 12px; /* Adjust font size as desired */
}

.small-font .v-btn,
.small-font .green-box,
.small-font div {
  font-size: 12px; /* Apply small font size to all elements within the container */
}

.info-block {
  padding: 0 1rem;
  background-color: #F9F9F9;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.info-label, .info-value {
  width: 22%; /* Adjust width as needed */
}



.info-value {
  display: flex;
  justify-content: start; /* Align values to the start of their respective columns */
}
.info-label{
  font-size: 12px; /* Medium font size */
  color: #7B7B7B !important;
}
 .info-value {
  font-size: 14px;
 }
 .v-sheet{
  height: 40px !important;
 }



.v-navigation-drawer__content {
    height: 100%;
    overflow-y: hidden !important;
    overflow-x: hidden;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
}
input, textarea {
  width: 100%;
  padding: 8px;
 
  border-radius: 4px;
}
textarea {
  resize: vertical;
}
.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #218838;
}
.save-btn {
  background-color: #4080DF;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    font-size: 12px;
}
.save-btn:hover {
  background-color: #4080DF;
}
.cancel-btn {
  background-color: white;
  color: #4080DF;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: 2px solid #4080DF; /* Adding width and style to the outline */
  font-size: 12px;
}

.cancel-btn:hover {
  background-color: white;
  outline: 2px solid #4080DF;
  color: #4080DF;

}


.closed-btn {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
  z-index: 2; /* Ensure the icon is above the input */
}
.closed-btn:hover {
  color: #555;
}

.appointment{
  color: #4080df !important;
}
.comingAppointment{
  background-color: #4080df !important;
  color: #ffffff !important;

}
.vip{
  background-color: #FFC553;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.pointer {
  position: relative;
   cursor: pointer;
 
}

.pointer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 5px; /* same as your hover */
  transition: border-color 0.3s ease; /* smooth animation for hover */
}

.pointer:hover::after {
  border-color: #4080df;
}

.patientname{
  font-size: 16px;
font-weight: 500;
}

.schedule{
  width: 120px;
  color: #4080DF !important;
  background-color: #ffffff !important;
  outline: 1px solid #4080DF !important;
}
.schedule:hover{
  width: 120px;
  color: #4080DF !important;
  background-color: #ffffff !important;
  outline: 1px solid #4080DF !important;
}
.users:hover{
  background-color: #F5F5F5 !important;
  border-radius: 25px !important;
}

@media (max-width: 1024px) {
    .modal-content {
 width: 95% !important;
    }
    .engName{
  font-size: 14px;
}
}


.editBtn{
  background-color: #ec6161 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  width: 100px !important;
  padding: 6px;

}
 input[type="checkbox"] {
    accent-color: #FB8F40; /* Change to your desired color */
  }
  .cross{
    right:10px !important;
  }